* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
	display: flex;
	justify-content: flex-start;
	align-content: center; 
	background-color: #141B29;
	padding: 10px;
	color: #FFFFFF;
	flex-direction: row;
	margin:0px;
}

.back {
	position: relative;
	margin:0;
}

h1{
	margin:0 37.5%;
	display: flex;
	align-content: center; 
	align-items:center;
}

main{ 
	display: flex;
	justify-content: flex-start;
	align-content: center; 
	flex-direction:column;
	align-items:center;
}

img{
	margin:40px;
	height:500px;
	width:auto;
}

p{
	width:60%;
}

.project-links{
	display: flex;
	margin:0;
}

.project-buttons{
	display: flex;
	margin:10px;
	width:100%;
	justify-content:space-evenly;
}

.button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
	margin:5px;
}