* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height:100%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-content: center; 
	background-color: #06171F;
	padding: 10px;
	color: #FFFFFF;
	flex-direction: row;
	margin:0px;
}

.back {
	position: relative;
	margin:0;
}

h1{
  margin:0;
	display: flex;
	align-content: center; 
	align-items:center;
	position: relative;
	right:46%;
	font-family: 'Major Mono Display', monospace;
}

main{ 
	background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
	display: flex;
	justify-content: flex-start;
	align-content: center; 
	flex-direction:column;
	align-items:center;
}

img{
	margin:30px;
	height:450px;
	width:auto;
	border-radius:10%;
}

p{
	width:60%;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:20px;
	margin:0 0 10px 0;
}

.project-links{
	display: flex;
	margin:0px;
}

.project-buttons{
	display: flex;
	margin:0;
	width:100%;
	justify-content:space-evenly;
}

.button {
	font-size:25px;
  text-decoration: none;
  background-color: #20769e;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
	margin:5px;
	border-radius:10px;
	font-family: 'Major Mono Display', monospace;
}